
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*.flowers{
    max-width: 1140px;
}*/
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*nato-serif-color*/
.always{
    color: #E95A08;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h4{
    display: inline-block;
}
.display-flex{
    display: flex;
}

.gray-font{
color: #8987A1;
}

.bold-font{
 color: #252432;
 font-weight: bold;
}
.cart-font{
    color: #000000;
}
.flower-title{
    max-width: 1140px; 
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.flower-anchor{
   text-decoration: none; 
}
.flower-list{
   list-style: none;
   margin-right: 70px;
   gap: 10px;
     
}
.logo{
    width: 135;
    padding-left: 80px;

}
/*banner*/
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .container{
        max-width: 1140px;
        margin:auto
   } 
   .hero-p{
    color: rgba(0, 0, 0, 1);
    max-width: 65%;
    font-size: 1rem;
   }
   .banner-left{
    margin-top: 90px;
   }
   .hero-title{
    font-weight: bold;
    font-size: 4rem;
   }

   /*plants*/
   .plants{
    max-width: 1140px;
        margin:auto;
   }
   /*h2*/
   .plants-title{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
   }
   .plants-p{
    text-align: center;
    font-size: 1rem;
    max-width: 880px;
    margin-left: 50px;
    padding-left: 40px;
   }

   .plant-rose{

        justify-content: center;
        align-items: center;
   }
   /*card*/

   
   .card{
    width: 270px;
    height: 484px;
    text-align: center;
   }

   .btn{
    background-color: #E95A08;
    color: white;
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 270px;
    height: 50px;
   }
   .card-container{
       
       display: grid;
       grid-template-columns: repeat(4,1fr);
       margin-left: 90px;
       margin-right: 70px;
   }
    
   /*.card-img{
    width: 100%;
   }*/

   /*plant-lover*/

   .lover-l{
    color: rgba(0, 0, 0, 1);
    max-width: 65%;
    font-size: 1rem;
   }
   .lover-text{
    max-width: 540px;
    height: auto;
    padding: 30px;
   }
   .lover-img{
    max-width: 570px;
    height: 400px
   }
   .flower-plants{
    font-size: 2rem;
    font-weight: bold;

   }
   .plant-lover{
    display: flex;
    gap: 50px;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   }
   .badge{
    max-width: 15%;
    height: auto;
    margin-left: -120px;
    margin-top: -400px;
   }
/*latest deal*/
   .deal-h{
    font-weight: bold;
    font-size: 3rem;
   }
   .latest-deal{
    max-width: 1140px;
    height: auto;
   }
   .deal-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    margin: 0 auto;
   }
   .boom-ana{
    max-width: 363px;
    
   }
   .boom-plant{
   background-image: url("deal-bloom.png");
   background-repeat: no-repeat;
   max-width: 367px;
   height: 300px;
   border-radius: 15px;
   text-align: center;
   display: flex;
  justify-content: center; 
  align-items: center;
  padding: 70px;
  margin-top: 50px;
  margin-bottom: -70px;
   }
   .ana-plant{
    background-image: url("deal-ana.png");
   background-repeat: no-repeat;
   max-width: 367px;
   height: 300px;
   border-radius: 15px;
   text-align: center;
   display: flex;
  justify-content: center; 
  align-items: center;
  padding: 5opx;
   
   }
   .zabo-plant{
    background-image: url("deal-zabo.png");
   background-repeat: no-repeat;
   max-width: 80%;
   height: 400px;
   border-radius: 15px;
   text-align: center;
   display: flex;
  justify-content: center; 
  align-items: center;
  padding-left: 50px;
  margin-top: -40px;
  margin-right: 30px;

   }
   .bloom-h{
    font-size: 1rem;
    font-weight: bold;
    color: white;
   }
   .bloom-p{
    color: white;
   }
   .zabo-h{
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
   }
   .zabo-p{
    color: white;
    font-size: 1.5rem;
   }
   .latest-deals{
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
   /*colorful-bunch*/
   .colorful-bunch{
    background-image: url(../image/news-letter-bg.png);
    background-repeat: no-repeat;
   max-width: 90%;
   height: 400px;
   border-radius: 15px;
   text-align: center;
   display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 70px;
   }
   .bunch-i{
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 400px;
    height: 50px;
   }
   .btn-bunch{
    background-color: #E95A08;
    color: white;
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 270px;
    height: 50px;
   }
   /*footer*/
   .footer-l1{
    justify-content: space-between;
    list-style: none;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
   }
   .footer-img{

   }
   .f-flower{
    max-width: 1140px;
    flex: 1;
    display: flex;
    gap: 60px;
    margin-top: 20px;
    height: auto;
    
   }
@media (max-width: 576px)
 {
    .flower-title, .flower-list {
        flex-direction: row;
    }
    .hidden{
        display: none;
}

.hero-container {
        flex-direction: column;
}
/*badge*/
.badge{
    display: none;
}
.plant-lover{
    flex-direction: column;
}
/*latest deals*/
.latest-deals{
    flex-direction: column;
}
/*footer*/
.f-flower{
    flex-direction: column;
}

}
