
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*.flowers{
    max-width: 1140px;
}*/
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*nato-serif-color*/
.always{
    color: #E95A08;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.gray-font{
color: #8987A1;
}

.bold-font{
 color: #252432;
 font-weight: bold;
}
.cart-font{
    color: #000000;
}
.flower-title{
    max-width: 1140px; 
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.flower-anchor{
   text-decoration: none; 
}
.flower-list{
   list-style: none;
   margin-right: 70px;
   gap: 10px;
     
}
.logo{
    width: 135;
    padding-left: 80px;

}
/*banner*/
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .container{
        max-width: 1140px;
        margin:auto
   } 
   .hero-p{
    color: rgba(0, 0, 0, 1);
    max-width: 65%;
    font-size: 1rem;
   }
   .banner-left{
    margin-top: 90px;
   }
   .hero-title{
    font-weight: bold;
    font-size: 4rem;
   }

   /*plants*/
   .plants{
    max-width: 1140px;
        margin:auto;
   }
   /*h2*/
   .plants-title{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
   }
   .plants-p{
    text-align: center;
    font-size: 1rem;
    max-width: 880px;
    margin-left: 50px;
    padding-left: 40px;
   }

   .plant-rose{

        justify-content: center;
        align-items: center;
   }
   /*card*/

   
   .card{
    width: 270px;
    height: 484px;
    text-align: center;
   }

   .btn{
    background-color: #E95A08;
    color: white;
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 270px;
    height: 50px;
   }
   .card-container{
       
       display: grid;
       grid-template-columns: repeat(4,1fr);
       margin-left: 90px;
       margin-right: 70px;
   }
    
   /*.card-img{
    width: 100%;
   }*/
@media screen and (max-width:576) {
    .flower-title, .flower-list {
        flex-direction: row;
    }
    .hidden{
        display: none;
}

.hero-container {
        flex-direction: column;
}